.wrapper {
  display: flex;
}

.main {
  display: flex;
  flex-direction: column;
  border-right: 1px solid #F3F3F3;
  width: 60%;
  height: 100vh;
  padding: 48px;

  &_wrapper__slider {
    display: flex;
    padding-top: 48px;
    align-items: center;
    width: 100%;
    justify-content: space-between;

    &__rate {
      padding: 16px;
      display: flex;
      align-items: center;
      border: 1px solid #F3F3F3;
      gap: 16px;






      &__positive{
        display: flex;
        align-items: center;
        gap: 59px;
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;
        color: #363636;


        &_plus{
          width: 100%;
          font-family: 'Inter', sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 12px;
          line-height: 16px;
          color: #84A500;
        }
      }


      &_wrapper{
        display: flex;
        flex-direction: column;
      }


      &__country{
        display: flex;
        align-items: center;
        gap: 49px;
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;
        color: #363636;
    &_percent{
      font-family: 'Inter', sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 16px;
      color: #84A500;

    }
     }
      &_img{
        padding: 8px;
        background: #84A5001A;
      }
    }
  }

  &_title {
    display: flex;
    align-items: center;
    justify-content: space-between;


    &_text {
      font-family: 'TT Firs Neue', sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 32px;
      line-height: 48px;
    }

    &_input {
      font-family: 'Inter', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      color: #363636;
      line-height: 24px;
      border: 1px solid #ECECEC;
      padding: 16px 271px 16px 20px;
    }

    &_input::placeholder {
      background-image: url("../../assets/image/Lupa.svg");
      background-repeat: no-repeat;
      padding-left: 30px;
      background-position: 4px;

    }
  }
}
