.wrapper {
  display: flex;
}

.main{
  display: flex;
  flex-direction: column;
  border-right: 1px solid #F3F3F3;
  width: 59%;
  height: 100vh;




  &_title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 200px;
    padding: 48px;


    &_text{
      font-family: 'TT Firs Neue', sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 32px;
      line-height: 48px;
    }
    &_input{
      font-family: 'Inter', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      color: #363636;
      line-height: 24px;
      border: 1px solid #ECECEC;
      padding: 16px 271px 16px 20px;
    }
    &_input::placeholder{
      background-image: url("../../assets/image/Lupa.svg");
      background-repeat: no-repeat;
      padding-left: 30px;
      background-position: 4px;

    }
  }
}
